:root {
  --primary-color: #f9e34083;
  --secondary-color: #75a501;
  --border: 3px solid var(--primary-color);
  --primary-font: Verdana, Geneva, Tahoma, sans-serif;
  --secondary-font: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}

body {
  font-family: var(--primary-font);
}

header img,
footer img {
  display: block;
  margin: 0 auto;
  max-width: 400px;
}

footer p {
  color: gray;
  font-size: 12px;
}

h1 {
  margin: 20px 5px;
  color: var(--secondary-color);
}

h3 {
  display: inline;
  color: var(--secondary-color);
  text-transform: lowercase;
}

footer a:visited {
  color: gray;
}

.phonetics {
  margin: 30px 10px;
}

.component-container {
  background-color: var(--primary-color);
  padding: 20px;
  border: var(--border);
  margin: 16px 0px;
  border-radius: 10px;
}

.meaning {
  margin: 0px 20px;
  padding: 3px;
  font-weight: 600;
}

.meanings {
  margin-top: 22px;
}

.part-of-speech {
  color: var(--secondary-color);
  font-size: larger;
  text-transform: uppercase;
  margin-top: 15px;
}

.example {
  font-style: italic;
  margin: 0px 0px 0px 60px;
  font-family: var(--secondary-font);
}

.example::first-letter {
  text-transform: capitalize;
}

.synonyms {
  font-size: smaller;
  list-style-type: none;
  margin: 0px 0px 0px 40px;
  font-family: var(--secondary-font);
}

.synonyms li {
  display: inline;
  padding: 0px 5px;
}

.phonetic {
  padding: 10px;
  font-size: 16px;
}

.photos img {
  margin: 10px auto;
}
