body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header img,
footer img {
  display: block;
  margin: 0 auto;
  max-width: 400px;
}

footer p {
  color: gray;
  font-size: 12px;
}

footer a:visited {
  color: gray;
}

.definition {
  margin: 30px 10px;
}
